<nav class="navbar navbar-expand-sm">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="#">T-Paidat</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Pitkähihaiset</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Hatut</a>
		</li>
		<li li class="nav-item">
			<a class="nav-link" href='cart'>Ostoskori</a>
		</li>
		<li li class="nav-item">
			<a class="nav-link" href="login">Kirjaudu</a>
		</li>
	</ul>
</nav>